/* Your styles here */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* HEADER */

header{
    width: 100%;
}

.logo{
    width: 100%;
    height: 100px;    
    background-color: black;
}

.logo img{
    width: 11%;
    padding: 15px;
}


.corso{
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position:center;
    text-align: center;
    height: 400px;
}

.scritte{
    height: 100%;
    
}

.corso div{
    width: 50%;
    margin-inline: auto;
}

.corso h2{
    font-size: 40px;
}

.corso p{
    font-size: 23px;
}


/* ELEMENTI */

h2{
    font-size: 40px;
    color: #25a2c3 ;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    /* padding: 20px; */
    margin-top: 100px;
}

h3{
    font-size: 20px;
    color: #25a2c3 ;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    margin: 10px;
}


h4{
    font-size: 20px;
    color: #25a2c3 ;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
}

p{
    font-size: 1.25rem;
    color: #393d41 ;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65rem;
    margin: 10px;

}

button{
    border: 0px;
    border-radius: 4px;
    color: white;
    background-color: #f04c2f ;
    /* padding: 20px; */
    width: 125px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

img{
    width: 100%;
}

.foto img{
    width: 70%;
    border-radius: 200px;
}

hr{
    /* color: #c8e7f0; */
    /* size: 0.5px; */
    border: 0.2px solid #c8e7f0;
    width: 200px;
    text-align: center;
}


/* <!--MAIN */

main div{
    text-align: center;
    margin: 20px;
}

.prima_parte{
    width: 40%;
    height: 100%;
    /* margin: 50px; */
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    box-sizing: border-box;
    vertical-align: middle;
}

.seconda_parte{
    margin-bottom: 100px;
    margin-top: 50px;
}

.testi{
    width: 40%;
    height: 100%;
    display: inline-block;
    text-align: left;
    /* margin: 50px; */
    box-sizing: content-box;
    vertical-align: middle;
}

.testi div{
    padding: 10px;
}

.garantisce h2{
    font-size: 25px;
    color: white;
    margin-top: 30px;
}

.garantisce p:first-of-type{
    font-style: italic;
    padding: 30px;
    font-size: 25px;
    color: white;
}

.garantisce p:nth-last-of-type(1){
    font-size: 10px;
    color: white;
}

.garantisce{
    background-color:#e22d0e;
    padding: 50px;
    margin: 0;
}

.garantisce p{ 
    color: white;
    margin: 0;
    font-size: 16px;
    line-height: 20px;
}

.blocchi div{
    border: 1px solid #dee1e3;
    border-radius: 5px;
    margin: 40px;
    width: 300px;
    height: 300px;
    display: inline-block;
    vertical-align: middle;
}

.blocchi p{
    font-size: 0.8rem;
    /* padding: 10px; */
}

.blocchi{
    width: 100%;
    height: 400px;
    /* display: inline-block; */
}

.blocchi img{
    width: 100%;
    height: 60%;
    image-rendering: crisp-edges;
}

/*FOOTER */

footer div{
    background-color: #25a2c3;
    text-align: center;
    height: 350px;
}

footer h2{
    color: white;
    padding-top: 40px;
}

footer p,a{
    font-size: 20px;
    display: block;
    padding: 5px;
    color: #c8e7f0;
}

.copyright{
    font-size: 15px;
    display: inline;
}

.copyright a{
    display: inline;
    padding: 0px;
    font-size: 15px;
}







